[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cyanoFilter"]
	path = cyanoFilter
	url = https://github.com/fomotis/cyanofilter
